@import '../res/fonts/stylesheet.css';

:root{
    --bg:rgb(50, 184, 199);
}

html{
    scroll-behavior: smooth;

}
body{
    
    background-color: var(--bg);
    margin:10px 3px ;
    padding: auto;
}

.blue_panel{
    background-color: var(--bg);
    color:white;
    
    

}
.white_panel{
    background-color: #FFF;
    color:black;
    border-radius: 10px;
}
.text-1_8x1{
    font-size: 1.8em;
}

.tp-text{
    font-size: 1.4em!important;
}
.two-box-panel{
    width:100%;
    grid-template-rows: auto auto!important;
    grid-template-columns: none!important;
    
}
.tp-heading-right,.tp-heading-left{
    
    max-width: none!important;        
    /* padding:auto; */
    height: 3em;
    border-bottom: 1px solid grey!important;
    border-right:none!important;
    border-left:none!important;
    grid-row: 1;
}

.input-bars{
    width: 90%!important;
}
#mail{
    height: auto!important;
    border: none!important;
}

.panel_5x5{
    min-height: 400px !important;;
}




#nav-bar{
    width: 100%;
    margin-top: 10px;
    font-size:0.90em;
    text-align: center;
}

#header{
    max-width: 400px;
}

#profile-pic{
    float:right;
}



#home-dp{
    transition: all 0.1s ease-in;
}
#home-dp:hover{
    transform: scale(1.2);
}

#profile-pic{
    border-radius: 30px;
}

.panel_5x5
{
    min-height:500px;
    min-width: 300px;

    font-weight: bold;
    margin:0;
    
}

.center-all{
    justify-content: center;
    align-items: center;

}

.flex-mode{
    display: flex;
    flex-wrap: wrap;
}

.no-bold{
    font-weight: normal;
}


.font-def{
    font-family:RBTO;
}

#nav-bar{
    justify-content: space-evenly;
    /* background-color: aqua; */
}
.nav-links{
    
    color:white;
    text-decoration: none;
    transition: all 0.1s linear;
}

.nav-links:hover{
    font-size:  1.35em;
    color:wheat

}

#home-dp{
    display: flex;
    align-items: center;
    /* background-color: black; */
    justify-content: space-around;
    flex-wrap: wrap;
    width:150px
}
#profile-pic{
    width: 60px;
}
/* .nav-links:visited
{
    color: white;
} */

#header-div{
    height: max-content;
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blueviolet; */
}
#header{
    width:95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgb(114, 35, 187); */

}

.tp-section{
    display: flex;
}
.two-box-panel{
    display: grid;
    grid-template-rows: none;
    column-gap: 1px;
    cursor: default;
    align-items: center;
    
}

.text-head{
    grid-template-columns: 3fr 1fr;
}
.head-text{
    grid-template-columns: 1fr 3fr;
}

.tp-heading{
    min-width: 300px;
}

.tp-heading-right{
    
    border-right: 1px solid grey;
    border-bottom: 0px;
}
.tp-heading-left{
    
    border-left: 1px solid grey;
    border-bottom: 0px;
}

#separator{
    height:50px;
    background-color: var(--bg);

}

.tp-text{
    min-width: 200px;
    
    display:flex;
    flex-wrap: wrap;
    padding: 10%;
    transition: all 100ms ease-in-out;
    /* text-align: center; */
}
.tp-text:hover{
    transform: scale(1.05);
}
.tp-text-no-zoom{
    min-width: 200px;
    
    display:flex;
    flex-wrap: wrap;
    padding: 10%;
    /* text-align: center; */
}

form{
    width:100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1.5fr auto;
}
.input-label{
    height:100px;
    transition: all 100ms ease-in-out;
}

.input-label:hover{
    transform: scale(1.05);
}

.input-bars{
    background-color: rgb(215, 224, 225);
    width:70%;
    min-width: 200px;
    font-family:open sans, sans-serif;
    min-height:2em;
    font-size: 1rem;
    font-weight: bold;
    color:rgb(42, 40, 39);
    border-radius: 5px;
}
#name{
    background-image: url('../res/img/user.png');
    background-size: 20px;
    background-position: 5px center;
    background-repeat: no-repeat;
    padding-left: 30px;
    overflow-wrap: break-word;

}
#subject{
    padding-left: 15px;

}

#email{
    background-image: url('../res/img/mail.png');
    background-size: 20px;
    background-position: 5px center;
    background-repeat: no-repeat;
    padding-left: 30px;

}

#message{
    color: black;
    align-content: center;
    padding: 5px 15px;
    font-weight: normal;
    background-color: transparent;

}
#mail{
    border: none;
}
#submit-button >button{
    width: 130px;
    height: 40px;
    padding-right: 30px;
    background-color:var(--bg);
    color:white;
    font-family: RBTO;
    font-weight: bold;
    border: 1px gray solid;
    border-radius: 3px;
    transition: all 100ms ease;
}
#submit-button >button:hover{
    transform: scale(1.05);
}
#submit-button > button:active{
    transform: scale(0.95);
}